<h1>Labels#show</h1>

<h3><%= @label.name %></h3>

<h3><%= link_to "一覧", labels_path %></h3>

<h3><%= link_to "編集", edit_label_path(@label.id) %></h3>

<h3><%= link_to "削除", label_path(@label.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></h3>
